body {
  background-color: rgb(109, 109, 109);
  color: #2a2a2a;
}

.accent {
  color: #2196f3;
}

.social-links .link {
  color: teal;
}

.social-links .link:hover,
.social-links .link:focus {
  color: orange;
}

.social-links .link:active {
  color: red;
}

.social-links .link:visited {
  color: green;
}
